.header {
    position: relative;
    width: 100%;
    top: 5%;
    height: 40rem;
}
.headerContainer{
    height: 100%;
    display: flex;
    align-items: center;
}
.button{
    background-color: rgb(0, 27, 140);
}