.main{
 
}
.hrDotted{
  border-top: 1px dotted #000;
  margin: 3rem 0;
}


@media only screen and (max-width: 975px) {
    .main{
     background: url("/assests/Images/signUp.jpg") center center/cover no-repeat !important;
    }

  }